<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />

</head>

<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="about">My Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="customer">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="loan">Loan Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="loanStatusCheck">Loan Status Check</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">About Me</a>
      </li>
      <li style="float:right" class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>




    </ul>
  </div>
</nav>

<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <img class="img-fluid rounded-circle mb-4" src="/images/furkanbalikci.jpg" alt="My photo" style="object-fit: contain">
    </div>
    <div class="col-md-9">
      <h1 class="mb-3">Furkan Balıkçı</h1>
      <p class="lead">After graduating from Electrical-Electronics Developer, I started software adventure with Python. After dealing with data science and machine learning for a short time, I worked as an embedded software engineer for close to 2 years in order to decide on the field where I will advance my career.
        It was a start-up and I experienced a lot in a very short time here, with very busy working hours, stress and even dealing with web and electronic works outside of my field. Afterwards, I made a firm decision to advance in the field of Backend and quit my job. So far, I have been more engaged in Java and Spring.
        I also had very simple experiences in Kafka, NoSQL, RDMS, HTML, CSS,Angular, Javascript.</p>
    </div>
  </div>

  <hr>

  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Education</h2>
      <ul>
        <li>B.S. in Electrical & Electronics Engineering, Bolu Abant Izzet Baysal University ,2015-2020</li>
        <li>M.S. in Computer Science, Bolu Abant Izzet Baysal University, 2022-</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Work Experience</h2>
      <ul>
        <li>Embedded Software Developer, Connect-ION Tec., 04.2021-12.2022</li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Skills</h2>
      <p>Python,Linux, Java, Spring, Spring Boot, Spring Data JPA,Spring Security, SQL, HTML5, CSS3, JavaScript, MonogDB, PostgreSQL, Selenium, Flask, MQTT, Sockets(TCP ve Web),FFmpeg, OpenCV</p>
    </div>
  </div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
