<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style type="text/css">
  .container{
    position: relative;
    display: table; /*** Used for container align center ***/
    width: 90%;
    max-width: 940px;
    margin: 2.5% auto 5% auto;
  }
  .required {
    color: red;
  }
</style>
<body>
<div class="container mt-5">
  <h1 class="text-center">Register</h1>
  <form id="user-registration" action="#" method="post">
    <div class="form-group">
      <label for="username">Username:<span class="required">*</span></label>
      <input type="text" id="username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:<span class="required">*</span></label>
      <input type="email" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:<span class="required">*</span></label>
      <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </form>
  <p class="text-center">Already have an account? <a href="/api/v1/login">Login here</a>.</p>
</div>
<script type="application/javascript" src="/assets/js/register.js"></script>
</body>
</html>
